<h1>Listing users</h1>

   <% if notice %>
   <p id="notice" ><%= notice %></p>
   <% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td> <%= image_tag user.avatar.url(:thumb) %></td>
        <td><%= user.name %></td>
       
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
 
</table>
 <br/> <br/>
 <div class="outline">
  <ul><%= button_to_function "Prev" , "S.slider_method_n('#{@users.count}','2')", remote: true, :id => "link_hide_p" %>
    <% @users.each do |user| %>
    <li class="slide_p"><%= image_tag user.avatar.url(:thumb), :alt => user.name %> </li>
    <% end %>
<%= button_to_function "Next" , "S.slider_method_n('#{@users.count}','1')", remote: true , :id => "link_hide_n" %>
   </ul>
  
 </div>

<br>

<%= link_to 'New User', new_user_path %>
