<h1>Listing orders</h1>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Pay type</th>
      <th></th>
     
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.email %></td>
        <td><%= order.pay_type %></td>
        <td><%= link_to 'Show', order %></td>
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Maximum Order',my_order_orders_path(order: "max") %>
<%= link_to 'Minimum Order',my_order_orders_path(order: "min") %>
<br />
<%= link_to 'Back', admin_path %>
